.app__container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
}

.content__container {
  max-width: 1440px;
  h1 {
    text-align: center;
  }
}
